@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --header-background:#0e0e10;
    --default-font:"Raleway", sans-serif;
    --basic-white: #fff;
    --orange-dark:#fe2f00;
    --orange-light:#d17721;


}
 
 

header{
    width: 100%;
    min-height: 100vh;
    background: var(--header-background);
}

.wrapper{
    width: 80%;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--default-font);
    height: 150px;
}

nav .logo{
    display: flex;
    align-items: center;
    color: var(--basic-white);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav ul li a{
    text-decoration: none;
    color: var(--basic-white);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    color: var(--orange-dark);
}

ul li:hover ul.dropdown {
    display: block;
}
nav ul li a:hover{
    color: var(--orange-dark);
}

nav .active{
    color: var(--orange-dark);
}

nav .btn{
    border: 3px solid #fff;
    padding: 8px 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

nav .btn:hover{
    background:  var(--orange-dark);
    color: var(--basic-white);
    border: 3px solid  var(--orange-dark);
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .coffee_text{
    font-family: "Inter", sans-serif;
    color: var(--basic-white);
}

.container .coffee_text span{
    font-size: 35px;
    font-weight: 900;
    color: var(--orange-light);
}

.container .coffee_text h3{
    font-size: 30px;
}
/* .container .coffee_image{
    aspect-ratio: 1.5;
    height: 50px;

} */

.container p{
    font-size: 18px;
    margin: 2rem 0;
}

.container button{
    padding: 8px 16px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--basic-white);
    color: var(--orange-dark);
    margin: 1rem 0;
}

.container button.primary_btn{
    background-color: var(--orange-light);
    color: var(--basic-white);
    margin-right: 1rem;
}
.container button.primary_btn:hover{
    background-color: var(--orange-dark);
    transition: ease 2s;
}

nav .mobile_menu_btn i{
    font-size: 2rem;
    color: var(--basic-white);
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

@media screen and (max-width: 1024px) {
    nav .mobile_menu_btn i{
        display: block;
    }

    nav ul{
        position: fixed;
        top: 120px;
        left: -100%;
        background-color: var(--orange-light);
        width: 100%;
        height: 100vh;
        display: block;
        text-align: center;
        transition: all 0.3s ease-in;
    }

    #click:checked ~ ul{
        left: 0%;
    }

    #click:checked ~ .mobile_menu_btn i::before{
        content: "\f00d";
    }

    nav ul li{
        display: block;
        margin: 3rem 0;
    }

    .wrapper{
        width: 90%;
    }

    .container{
        flex-direction: column-reverse;
         
    }

    .container .coffee_image img{
        width: 80%;
    }
}
.logo img{
    height: 50px;
    filter: invert(1);

}
.dropdown li{
  
    padding-top: 20px;
    /* border: 2px solid var(--orange-dark);
     */
}

 
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-background);  
    z-index: 9999;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    border: 6px solid var(--basic-white);
    border-top: 6px solid var(--orange-dark);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Signup modal styles */
.modal {
    display: none; 
    position: fixed; 
    color: var(--basic-white);
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}
 
.modal-content {
    background-color: var(--header-background);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--orange-dark);
  
    border-radius: 10px;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styles for inputs, buttons, etc. within the modal */
.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"],
.modal-content button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.modal-content button {
    background-color: var(--orange-light);
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}

.modal-content button:hover {
    transition: ease 2s;
    background-color: var(--orange-dark) ;
}

.separator {
    text-align: center;
    margin: 10px 0;
}

.google-signup {
    background-color: var(--orange-light);
    color: var(--basic-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

.google-signup:hover {
    background-color: var(--orange-dark);
}
body .modal-open {
    overflow: hidden;
}
/* Additional styles for sign-in modal */
#signin-modal {
    display: none; 
    position: fixed; 
    color: var(--basic-white);
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}
 
#signin-modal .modal-content {
    background-color: var(--header-background);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid var(--orange-dark);
    border-radius: 10px;
    max-width: 400px;
}

#signin-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#signin-modal .close:hover,
#signin-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Additional styles for inputs, buttons, etc. within the sign-in modal */
#signin-modal .modal-content input[type="text"],
#signin-modal .modal-content input[type="password"],
#signin-modal .modal-content button {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signin-modal .modal-content button {
    background-color: var(--orange-light);
    color: var(--basic-white);
    border: none;
    cursor: pointer;
}

#signin-modal .modal-content button:hover {
    transition: ease 2s;
    background-color: var(--orange-dark) ;
}

#signin-modal .forgot-password {
    text-align: center;
    margin-bottom: 10px;
}

#signin-modal .forgot-password a {
    color: var(--orange-light);
    text-decoration: none;
}

#signin-modal .forgot-password a:hover {
    text-decoration: underline;
}

#signin-modal .separator {
    text-align: center;
    margin: 10px 0;
}

#signin-modal .google-signin {
    background-color: var(--orange-light);
    color: var(--basic-white);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}

#signin-modal .google-signin:hover {
    background-color: var(--orange-dark);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999;
    backdrop-filter: blur(8px);
  }
  
  .overlay-content {
    position: absolute;
    font-family: var(--default-font);
    top: 50%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%, -50%);
    background-color: var(--orange-light);
    border: 2px solid var(--header-background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Adjust width as needed */
  max-width: 80%; /* Limit maximum width */
  height: auto; 
  }
  
  .overlay-content p {
    margin-bottom: 10px;
  }
  
  #okButton {
    background-color: var(--basic-white); 

    color: var(--header-background);
    border: 1px solid var(--orange-dark);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #okButton:hover {
    background-color: var(--orange-dark); 
  }

  .overlay2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999;
    backdrop-filter: blur(8px);
  }
  
  .overlay-content2 {
    position: absolute;
    font-family: var(--default-font);
    top: 50%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%, -50%);
    background-color: var(--orange-light);
    border: 2px solid var(--header-background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Adjust width as needed */
  max-width: 80%; /* Limit maximum width */
  height: auto; 
  }
  
  .overlay-content2 p {
    margin-bottom: 10px;
  }
  #nextButton {
    background-color: var(--basic-white); 
    color: var(--header-background);
    border: 1px solid var(--orange-dark);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
  }
  #nextButton:hover {
    background-color: var(--orange-dark); 
  }
  .overlay3 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999;
    backdrop-filter: blur(8px);
  }
  
  .overlay-content3 {
    position: absolute;
    font-family: var(--default-font);
    top: 50%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%, -50%);
    background-color: var(--orange-light);
    border: 2px solid var(--header-background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Adjust width as needed */
  max-width: 80%; /* Limit maximum width */
  height: auto; 
  }
  
  .overlay-content3 p {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  #submitButton {
    background-color: var(--basic-white); 
    color: var(--header-background);
    border: 1px solid var(--orange-dark);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
  }
  #submitButton:hover {
    background-color: var(--orange-dark); 
  }
  .overlay-content3 form {
    text-align: left;
  }
  
  .overlay-content3 input[type="text"],
  .overlay-content3 input[type="number"],
  .overlay-content3 input[type="tel"],
  .overlay-content3 input[type="email"],
  .overlay-content3 select,
  .overlay-content3 input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .overlay-content3 input[type="submit"] {
    background-color: #007bff; /* Your color code */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .overlay-content3 input[type="submit"]:hover {
    background-color: #0056b3; /* Your color code */
  }

  .overlay4{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999;
    backdrop-filter: blur(8px);
  }
  
  .overlay-content4 {
    position: absolute;
    font-family: var(--default-font);
    top: 50%;
    left: 50%;
    font-weight: 500;
    transform: translate(-50%, -50%);
    background-color: var(--orange-light);
    border: 2px solid var(--header-background);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px; /* Adjust width as needed */
  max-width: 80%; /* Limit maximum width */
  height: auto; 
  }
  
  .overlay-content4 p {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  #ok-Button {
    background-color: var(--basic-white); 
    color: var(--header-background);
    border: 1px solid var(--orange-dark);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 5px;
  }
  #ok-Button:hover {
    background-color: var(--orange-dark); 
  }
  